@using Microsoft.AspNetCore.Identity
@using System.Security.Principal
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "About";
}

@{
    string userRole = "Default"; // Default role

    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            userRole = "Admin"; // Set role to Admin if user is an admin
        }
        else if (User.IsInRole("Member") || User.IsInRole("User"))
        {
            userRole = "User"; // Set role to User if user is a member or user
        }
    }
}

<vc:nav-bar-types user="@userRole"></vc:nav-bar-types>

<div class="about-section">
    <div class="about-content">
        <div class="about-img">
            <img src="~/img/elephant.png" alt="Elephant" />
        </div>
        <div class="about-txt">
            <h1>AURORA</h1>
            <p>blah blah blah blah</p>
            <div class="return-home">
                <a href="#">Return Home</a>
            </div>
        </div>
    </div>

</div>


<vc:footer-types></vc:footer-types>