@using Microsoft.AspNetCore.Identity
@using System.Security.Principal
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "About";
}

@{
    string userRole = "Default"; // Default role

    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            userRole = "Admin"; // Set role to Admin if user is an admin
        }
        else if (User.IsInRole("Member") || User.IsInRole("User"))
        {
            userRole = "User"; // Set role to User if user is a member or user
        }
    }
}

<vc:nav-bar-types user="@userRole"></vc:nav-bar-types>

<div class="about-section">
    <div class="about-content">
        <div class="about-img">
            <img src="~/img/elephant.png" alt="Elephant" />
        </div>
        <div class="about-txt">
            <h1>MEET AURORA</h1>
            <p>
                Aurora’s Bricks, born from a hobby, has become a true passion for Aurora, inspiring her to begin her journey into the world of business. Inspired by her love for Legos, Aurora is excited to share this joy with her wonderful customers and fellow lego lovers. If you find delight in the endless possibilities of Lego sets, why not dive into our collection? Come, explore our world of creativity and fun – your next Lego adventure awaits!
                #aurorasbricks #legolover
            </p>
            <div class="return-home">
                <a asp-area="" asp-controller="Home" asp-action="Index">return home</a>
            </div>
        </div>
    </div>

</div>


<vc:footer-types></vc:footer-types>