@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Products Page";
}


<vc:nav-bar-types id="navBar" user="Default"></vc:nav-bar-types>

<div>
    <p>Hey there</p>
</div>



<vc:footer-types></vc:footer-types>


<script>
    // Check if the user is logged in
    var isLoggedIn = @(User.Identity.IsAuthenticated ? "true" : "false");

    // Get the nav bar element
    var navBar = document.getElementById("navBar");

    // Update the user attribute based on whether the user is logged in
    navBar.setAttribute("user", isLoggedIn ? "User" : "Default");
</script>