@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Products Page";
}


<vc:nav-bar-types user="Visitor"></vc:nav-bar-types>

<div>
    <p>Hey there</p>
</div>

